.noApp {
	display: none;
}
.yesApp {
	display: block !important;
}
.gm-website {
	display: none !important;
}
.gm-photos {
	display: none !important;
}
.gm-rev {
	display: none !important;
}
.gmnoprint div a {
	display: none !important;
}
.gm-style div a {
	display: none !important;
}